@font-face {
  font-family: 'Unlock';
  src: url("/src/fonts/Unlock-Regular.ttf");
}

body {
  background-color: #B45008;
}

#header {
  background-color: #7e4c29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 2px 2px black;
}

#header h1 {
  font-size: 80px;
  font-family: 'Unlock';
  color: white;
  padding-bottom: 15px;
}

#header #navButtons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  #header #navButtons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

#header #homeButton {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  padding: 10px;
  color: black;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}

#header #homeButton:hover {
  cursor: pointer;
}

#header #homeButton img {
  padding: 3px;
}

@media (min-width: 768px) {
  #header #homeButton {
    font-size: 25px;
    border: 1px solid black;
    padding: 1vw;
    margin-left: 2vw;
  }
}

#header #menuButton {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  padding: 10px;
  color: black;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}

#header #menuButton:hover {
  cursor: pointer;
}

#header #menuButton img {
  padding: 3px;
}

@media (min-width: 768px) {
  #header #menuButton {
    font-size: 25px;
    border: 1px solid black;
    padding: 1vw;
    margin-left: 2vw;
  }
}

#header #contactButton {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  padding: 10px;
  color: black;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}

#header #contactButton:hover {
  cursor: pointer;
}

#header #contactButton img {
  padding: 3px;
}

@media (min-width: 768px) {
  #header #contactButton {
    font-size: 25px;
    border: 1px solid black;
    padding: 1vw;
    margin-left: 2vw;
  }
}

#frontDiv {
  background-image: url("/src/images/interior.png");
  background-size: cover;
  height: 60vh;
  width: 100%;
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#frontDiv #welcomeDiv {
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

#frontDiv #welcomeDiv #welcomeDivText1 {
  color: black;
  font-size: 25px;
}

#frontDiv #welcomeDiv #welcomeDivText2 {
  color: #B45008;
  font-family: 'Unlock';
  font-size: 70px;
}

#frontDiv #mottoDiv {
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

#messageDiv {
  margin-bottom: 2vh;
  width: 100%;
  margin-top: 2vh;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/src/images/chef.png");
  background-size: cover;
}

#messageDiv #messageDivText1 {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  color: #B45008;
  padding: 10px;
  font-family: 'Unlock';
  font-size: 25px;
}

#messageDiv #messageDivText2 {
  border: 1px solid black;
  color: black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 70%;
  font-size: 15px;
}

#menuContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

#menuContent #itemA, #menuContent #itemB, #menuContent #itemC, #menuContent #itemD, #menuContent #itemE {
  height: 30vh;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #menuContent #itemA, #menuContent #itemB, #menuContent #itemC, #menuContent #itemD, #menuContent #itemE {
    height: 50vh;
    width: auto;
    margin: 1vh;
  }
}

#menuContent #itemA {
  background-image: url("/src/images/burger.png");
  background-size: 100% 100%;
}

#menuContent #itemB {
  background-image: url("/src/images/coffee.jpg");
  background-size: 100% 100%;
}

#menuContent #itemC {
  background-image: url(/src/images/seafood.png);
  background-size: 100% 100%;
}

#menuContent #itemD {
  background-image: url(/src/images/dessert.jpg);
  background-size: 100% 100%;
}

#menuContent #itemE {
  background-image: url(/src/images/foodTable.jpg);
  background-size: 100% 100%;
}

#menuContent #itemAText, #menuContent #itemBText, #menuContent #itemCText, #menuContent #itemDText, #menuContent #itemEText {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  padding: 15px;
  font-size: 3vh;
}

@media (min-width: 768px) {
  #menuContent #itemAText, #menuContent #itemBText, #menuContent #itemCText, #menuContent #itemDText, #menuContent #itemEText {
    font-size: 4vh;
  }
}

@media (min-width: 768px) {
  #menuContent {
    display: -ms-grid;
    display: grid;
    width: 90vw;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "burgers coffee" "seafood dessert" "more more";
  }
  #menuContent #itemE {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: more;
    height: 60vh;
  }
  #menuContent #itemE #itemEText {
    font-size: 8vh;
  }
}

@media (min-width: 768px) {
  #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 20px;
    padding-right: 3vw;
  }
  #frontDiv {
    height: 86vh;
    width: 95vw;
    background-size: 100% 100%;
  }
  #frontDiv #welcomeDiv {
    padding: 3vw;
  }
  #frontDiv #welcomeDiv #welcomeDivText2 {
    font-size: 23vh;
  }
  #frontDiv #mottoDiv {
    font-size: 4vh;
    padding: 3vw;
  }
  #messageDiv {
    height: 77vh;
    background-size: 100% 100%;
    width: 95vw;
  }
  #messageDiv #messageDivText1 {
    font-size: 8vh;
    padding: 3vw;
  }
  #messageDiv #messageDivText2 {
    font-size: 5vh;
    padding-left: 2vw;
  }
}

::-webkit-scrollbar {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #B45008;
}
/*# sourceMappingURL=style.css.map */