$desktop-breakpoint: 992px;
$tablet-breakpoint: 768px;
$interior-img: url('/src/images/interior.png');
$chef-img: url('/src/images/chef.png');
$burger-img: url('/src/images/burger.png');

@mixin buttons() {
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    padding: 10px;
    color: black;
    border: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 17px; 
    &:hover {
        cursor: pointer;
    }
    img {
        padding: 3px;
    }
    @media (min-width: $tablet-breakpoint) {
        font-size: 25px;
        border: 1px solid black;
        padding: 1vw;
        margin-left: 2vw;
    }
}

@mixin menuitem() {
    height: 30vh;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    @media (min-width: $tablet-breakpoint) {
        height: 50vh;
        width: auto;
        margin: 1vh;
    }
}

@font-face {
    font-family: 'Unlock';
    src: url('/src/fonts/Unlock-Regular.ttf');

}

body {
    background-color: #B45008;
}


#header {
    background-color: #7e4c29;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px black;
    h1 {
        font-size: 80px;
        font-family: 'Unlock';
        color: white;
        padding-bottom: 15px;
    }
    #navButtons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        @media (min-width: $tablet-breakpoint) {
            justify-content: flex-end;
        }
    }
    #homeButton {
        @include buttons(); 
  
    }
    #menuButton {
        @include buttons();
    }
    #contactButton {
        @include buttons();
    }
}

// #header {
//     background-image: url(https://cdn.pixabay.com/photo/2016/06/20/13/44/paper-1468883_960_720.jpg);
// }

#frontDiv {
    background-image: $interior-img;
    background-size: cover;
    //box-shadow: 0px -2px 5px 2px black;
    height: 60vh;
    width: 100%;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    #welcomeDiv {
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        #welcomeDivText1 {
            color: black;
            font-size: 25px;
        }
        #welcomeDivText2 {
            color: #B45008;
            font-family: 'Unlock';
            font-size: 70px;
        }
    }
    #mottoDiv {
        border: 2px solid black;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px;
    }
}

#messageDiv {
    margin-bottom: 2vh;
    width: 100%;
    margin-top: 2vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: $chef-img;
    background-size: cover;
    #messageDivText1 {
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 0.7);
        color: #B45008;
        padding: 10px;
        font-family: 'Unlock';
        font-size: 25px;
    }
    #messageDivText2 {
        border: 1px solid black;
        color: black;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        width: 70%;
        font-size: 15px;    
    }
}

#menuContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    #itemA, #itemB, #itemC, #itemD, #itemE {
       @include menuitem();
    } 
    #itemA {
        background-image: $burger-img;
        background-size: 100% 100%;

    }
    #itemB {
        background-image: url('/src/images/coffee.jpg');
        background-size: 100% 100%;
    }
    #itemC {
        background-image: url(/src/images/seafood.png);
        background-size: 100% 100%;
    }
    #itemD {
        background-image: url(/src/images/dessert.jpg);
        background-size: 100% 100%;
    }
    #itemE {
        background-image: url(/src/images/foodTable.jpg);
        background-size: 100% 100%;
    }
    #itemAText, #itemBText, #itemCText, #itemDText, #itemEText {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid black;
        padding: 15px;
        font-size: 3vh;
        @media (min-width: $tablet-breakpoint) {
            font-size: 4vh;
        }
    }
    @media (min-width: $tablet-breakpoint) {
        display: grid;
        width: 90vw;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "burgers coffee"
                             "seafood dessert"
                             "more more";

        #itemE {
            grid-area: more; 
            height: 60vh;
            #itemEText {
                font-size: 8vh;
            }
        }
    }
}



@media (min-width: $tablet-breakpoint) {
    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #header {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
        padding-right: 3vw;
    }
    #frontDiv {
        height: 86vh;
        width: 95vw;
        background-size: 100% 100%;
        #welcomeDiv {
            padding: 3vw;
            #welcomeDivText2 {
                font-size: 23vh;
            }
        }
        #mottoDiv {
            font-size: 4vh;
            padding: 3vw;
        }
    }
    #messageDiv {
        height: 77vh;
        background-size: 100% 100%;
        width: 95vw;
        #messageDivText1 {
            font-size: 8vh;
            padding: 3vw;
        }
        #messageDivText2 {
            font-size: 5vh;
            padding-left: 2vw;
        }
    }
}

