@font-face {
  font-family: 'Unlock';
  src: url("/src/fonts/Unlock-Regular.ttf");
}

body {
  background-color: #B45008;
}

#header {
  background-color: #7e4c29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 2px 2px black;
}

#header h1 {
  font-size: 80px;
  font-family: 'Unlock';
  color: white;
  padding-bottom: 15px;
}

#header #navButtons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#header #homeButton {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  padding: 10px;
  color: black;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}

#header #homeButton:hover {
  cursor: pointer;
}

#header #homeButton img {
  padding: 3px;
}

#header #menuButton {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  padding: 10px;
  color: black;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}

#header #menuButton:hover {
  cursor: pointer;
}

#header #menuButton img {
  padding: 3px;
}

#header #contactButton {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  padding: 10px;
  color: black;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}

#header #contactButton:hover {
  cursor: pointer;
}

#header #contactButton img {
  padding: 3px;
}

#frontDiv {
  background-image: url("/src/images/interior.png");
  background-size: cover;
  height: 60vh;
  width: 100%;
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#frontDiv #welcomeDiv {
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

#frontDiv #welcomeDiv #welcomeDivText1 {
  color: black;
  font-size: 25px;
}

#frontDiv #welcomeDiv #welcomeDivText2 {
  color: #B45008;
  font-family: 'Unlock';
  font-size: 80px;
}

#frontDiv #mottoDiv {
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

@media (min-width: 768px) {
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */