$desktop-breakpoint: 992px;
$tablet-breakpoint: 768px;
$interior-img: url('/src/images/interior.png');

@mixin buttons() {
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    padding: 10px;
    color: black;
    border: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 17px; 
    &:hover {
        cursor: pointer;
    }
    img {
        padding: 3px;
    }
}

@font-face {
    font-family: 'Unlock';
    src: url('/src/fonts/Unlock-Regular.ttf');

}

body {
    background-color: #B45008;
}


#header {
    background-color: #7e4c29;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px black;
    h1 {
        font-size: 80px;
        font-family: 'Unlock';
        color: white;
        padding-bottom: 15px;
    }
    #navButtons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
    }
    #homeButton {
        @include buttons(); 
  
    }
    #menuButton {
        @include buttons();
    }
    #contactButton {
        @include buttons();
    }
}

#frontDiv {
    background-image: $interior-img;
    background-size: cover;
    //box-shadow: 0px -2px 5px 2px black;
    height: 60vh;
    width: 100%;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    #welcomeDiv {
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        #welcomeDivText1 {
            color: black;
            font-size: 25px;
        }
        #welcomeDivText2 {
            color: #B45008;
            font-family: 'Unlock';
            font-size: 80px;
        }
    }
    #mottoDiv {
        border: 2px solid black;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px;
    }
}



@media (min-width: $tablet-breakpoint) {
    #header {
        display: flex;
        flex-direction: row;
    }
}

